---
import FilteredProductsGallery from "../components/filteredProductsGallery.astro";
import Hero from "../components/hero.astro";

import "../styles/instagram.min.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Velletaz Groupe</title>
  </head>
  <body>
    <Hero />
    <FilteredProductsGallery />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Mattone";
    src: url("/fonts/Mattone-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Mattone";
    src: url("/fonts/Mattone-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Mattone";
    src: url("/fonts/Mattone-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  .mattone {
    font-family: "Mattone";
  }
</style>
