---
import FilteredProductsGallery from "../components/filteredProductsGallery.astro";
import Hero1 from "../components/hero1.astro";
import Hero2 from "../components/hero2.astro";
import Features from "../components/features.astro";
import VideoBg from "../components/videoBg.astro";

import "../styles/instagram.min.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Velletaz Groupe</title>
  </head>
  <body>
    <Hero1 />
    <Hero2 />
    <FilteredProductsGallery />
    <Features />
    <VideoBg />
  </body>
  <script>
    import "../scripts/philter.min.js";
    import "../scripts/parallax.min.js";
    import "../scripts/lenis.js";
    new Philter();
    import simpleParallax from "simple-parallax-js";
    let images = document.querySelectorAll(".scene");
    new simpleParallax(images, {
      scale: 1.5,
      delay: 0.6,
      transition: "cubic-bezier(0,0,0,1)",
    });
  </script>
</html>

<style is:global>
  @font-face {
    font-family: "Mattone";
    src: url("/fonts/Mattone-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Mattone";
    src: url("/fonts/Mattone-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Mattone";
    src: url("/fonts/Mattone-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Redaction";
    src: url("/fonts/Redaction-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Redaction";
    src: url("/fonts/Redaction-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  .mattone {
    font-family: "Mattone";
  }

  .redaction {
    font-family: "Redaction";
  }

  body {
    color: #5d2f3f;
  }

  :root {
    --vert-clair: #6ba896;
    --vert: #006346;
    --bordeau: #470b2b;
    --bordeau-clair: #5d2f3f;
    --rouge: #91283b;
    --rouge-clair: #5e2129;
  }
</style>
