<section class="contact relative z-[1]">
  <div
    class="w-[calc(100%_-_2.5rem)] lg:w-[calc(100%_-_4rem)] mx-auto max-w-7xl">
    <div class="mb-8 lg:mb-12">
      <h1 class="text-center">Contact Us</h1>
    </div>

    <div class="grid grid-cols-12 gap-8 lg:gap-12">
      <div class="col-span-12 lg:col-span-6">
        <dl class="details-list details-list--rows">
          <div
            class="details-list__item py-5 lg:py-8 lg:flex lg:justify-between">
            <dt class="font-bold mb-1.5 lg:mb-0">Address</dt>
            <dd class="leading-snug lg:text-right">
              86 Whitby Road <br />IP20 6JA <br />London, UK
            </dd>
          </div>

          <div
            class="details-list__item py-5 lg:py-8 lg:flex lg:justify-between">
            <dt class="font-bold mb-1.5 lg:mb-0">Email</dt>
            <dd>
              <a
                class="underline text-indigo-700"
                href="mailto:webmaster@example.com">
                hello@myemail.com
              </a>
            </dd>
          </div>

          <div
            class="details-list__item py-5 lg:py-8 lg:flex lg:justify-between">
            <dt class="font-bold mb-1.5 lg:mb-0">Phone</dt>
            <dd class="leading-snug lg:text-right">
              <p>
                <a class="underline text-indigo-700" href="tel:+44 7656 6455">
                  +44 7656 6455
                </a>
              </p>
              <p class="text-gray-500">Mon - Fri, 9AM - 5PM</p>
            </dd>
          </div>
        </dl>
      </div>

      <div
        role="application"
        class="google-maps rounded col-span-12 lg:col-span-6 lg:h-auto lg:pb-0 js-google-maps"
        data-coordinates="51.5658015,-0.40339">
        <!-- Google Map -->
      </div>
    </div>
  </div>
</section>

<style>
  /* --------------------------------

File#: _1_details-list
Title: Details List
Descr: Pairs of related information displayed in a list
Usage: codyhouse.co/license

-------------------------------- */
  :root {
    --details-list-border-width: 1px;
    --details-list-border-opacity: 0.15;
  }

  .details-list--rows .details-list__item {
    border-bottom: var(--details-list-border-width) solid
      hsl(221 39% 11% / var(--details-list-border-opacity));
  }
  .details-list--rows .details-list__item:last-child {
    border-bottom: none;
  }

  .details-list--cols .details-list__item {
    border-right: var(--details-list-border-width) solid
      hsl(221 39% 11% / var(--details-list-border-opacity));
  }
  .details-list--cols .details-list__item:last-child {
    border-right: none;
  }

  @media (min-width: 32rem) {
    .details-list--rows\@xs .details-list__item {
      border-right: 0;
      border-bottom: var(--details-list-border-width) solid
        hsl(221 39% 11% / var(--details-list-border-opacity));
    }
    .details-list--rows\@xs .details-list__item:last-child {
      border-bottom: none;
    }

    .details-list--cols\@xs .details-list__item {
      border-bottom: 0;
      border-right: var(--details-list-border-width) solid
        hsl(221 39% 11% / var(--details-list-border-opacity));
    }
    .details-list--cols\@xs .details-list__item:last-child {
      border-right: none;
    }
  }
  @media (min-width: 48rem) {
    .details-list--rows\@sm .details-list__item {
      border-right: 0;
      border-bottom: var(--details-list-border-width) solid
        hsl(221 39% 11% / var(--details-list-border-opacity));
    }
    .details-list--rows\@sm .details-list__item:last-child {
      border-bottom: none;
    }

    .details-list--cols\@sm .details-list__item {
      border-bottom: 0;
      border-right: var(--details-list-border-width) solid
        hsl(221 39% 11% / var(--details-list-border-opacity));
    }
    .details-list--cols\@sm .details-list__item:last-child {
      border-right: none;
    }
  }
  @media (min-width: 64rem) {
    .details-list--rows\@md .details-list__item {
      border-right: 0;
      border-bottom: var(--details-list-border-width) solid
        hsl(221 39% 11% / var(--details-list-border-opacity));
    }
    .details-list--rows\@md .details-list__item:last-child {
      border-bottom: none;
    }

    .details-list--cols\@md .details-list__item {
      border-bottom: 0;
      border-right: var(--details-list-border-width) solid
        hsl(221 39% 11% / var(--details-list-border-opacity));
    }
    .details-list--cols\@md .details-list__item:last-child {
      border-right: none;
    }
  }
  @media (min-width: 80rem) {
    .details-list--rows\@lg .details-list__item {
      border-right: 0;
      border-bottom: var(--details-list-border-width) solid
        hsl(221 39% 11% / var(--details-list-border-opacity));
    }
    .details-list--rows\@lg .details-list__item:last-child {
      border-bottom: none;
    }

    .details-list--cols\@lg .details-list__item {
      border-bottom: 0;
      border-right: var(--details-list-border-width) solid
        hsl(221 39% 11% / var(--details-list-border-opacity));
    }
    .details-list--cols\@lg .details-list__item:last-child {
      border-right: none;
    }
  }
  @media (min-width: 90rem) {
    .details-list--rows\@xl .details-list__item {
      border-right: 0;
      border-bottom: var(--details-list-border-width) solid
        hsl(221 39% 11% / var(--details-list-border-opacity));
    }
    .details-list--rows\@xl .details-list__item:last-child {
      border-bottom: none;
    }

    .details-list--cols\@xl .details-list__item {
      border-bottom: 0;
      border-right: var(--details-list-border-width) solid
        hsl(221 39% 11% / var(--details-list-border-opacity));
    }
    .details-list--cols\@xl .details-list__item:last-child {
      border-right: none;
    }
  }
  /* --------------------------------

File#: _1_google-maps
Title: Google Maps
Descr: Google Maps component
Usage: codyhouse.co/license

-------------------------------- */
  .google-maps {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }

  .google-maps--ratio-4\:1 {
    padding-bottom: 25%;
  }

  .google-maps--ratio-3\:1 {
    padding-bottom: 33%;
  }
  /* --------------------------------

File#: _2_contact
Title: Contact
Descr: Contact block w/ info about how to get in touch
Usage: codyhouse.co/license

-------------------------------- */
  @media (min-width: 64rem) {
    .contact .google-maps {
      height: auto;
      padding-bottom: 0;
    }
  }
</style>
