---
import NetlifyImage from "../NetlifyImage.astro";
const year = new Date().getFullYear() - 1987;

let { node } = Astro.props;

node.img = {
  src: "https://cdn.sanity.io/images/39ozs2jh/production/d91da6ba0ab534dbcb381237c390af5879c4dd55-2560x1707.jpg",
};
---

<section id={node.id || undefined} class="hero remove-margin">
  <NetlifyImage src={node.img.src} class="hero-img" duotone="#00705F #5D2F3F" />
  <div
    class="texte absolute top-0 p-8 text-white flex items-left justify-center min-h-[50vh] flex-col">
    <h1
      class="mattone font-bold text-3xl md:text-5xl leading-tight w-full md:w-2/3 mb-4 border-white">
      Pépinières Viticoles VELLETAZ GROUPE
    </h1>
    <p class="boska text-xl md:text-3xl w-full md:w-2/3 text-white">
      Notre savoir-faire au service de votre vignoble depuis {year} ans
    </p>
  </div>
</section>

<style>
  .hero {
    height: 100vh;
    position: relative;
  }
  :global(.hero-img) {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
  }
</style>
