<section
  class="map flex justify-center items-center flex-col lg:flex-row py-32">
  <div class="text-center mx-4">
    <h2 class="mb-2 border-white">PRODUCTEUR DE PLANTS DE VIGNE</h2>
    <p class="mx-auto text-lg font-bold">
      Notre pépinière viticole familiale est productrice de l’ensemble de ses
      plants de vigne afin de garantir la meilleure qualité sanitaire et
      physique des plants, au prix le plus juste pour tous nos partenaires !
      Afin de répondre au mieux à vos projets de plantations ou de
      complantations, nos plants de vigne sont conçus pour la réussite et la
      durabilité de votre vignoble.
    </p>
  </div>

  <figure class="relative z-[1] pt-16 mr-4">
    <img
      class="block h-full w-auto mx-auto"
      src="/images/france.png"
      alt="Product Image"
    />

    <ul class="poi js-poi">
      <li style="top: 71%; left: 63%;" class="poi__item js-poi__item">
        <button
          class="poi__btn"
          aria-label="Point 1. Click for more info."
          aria-controls="poi-modal-1">
          <svg
            class="icon h-[12px] w-[12px] inline-block text-inherit fill-current leading-none shrink-0"
            viewBox="0 0 12 12"
            aria-hidden="true"
            ><path
              d="M11,5H7V1A1,1,0,0,0,5,1V5H1A1,1,0,0,0,1,7H5v4a1,1,0,0,0,2,0V7h4a1,1,0,0,0,0-2Z"
            ></path></svg
          >
        </button>
      </li>

      <li style="top: 58%; left: 72%;" class="poi__item js-poi__item">
        <button
          class="poi__btn"
          aria-label="Point 2. Click for more info."
          aria-controls="poi-modal-2">
          <svg
            class="icon h-[12px] w-[12px] inline-block text-inherit fill-current leading-none shrink-0"
            viewBox="0 0 12 12"
            aria-hidden="true"
            ><path
              d="M11,5H7V1A1,1,0,0,0,5,1V5H1A1,1,0,0,0,1,7H5v4a1,1,0,0,0,2,0V7h4a1,1,0,0,0,0-2Z"
            ></path></svg
          >
        </button>
      </li>

      <li style="top: 64%; left: 32%;" class="poi__item js-poi__item">
        <button
          class="poi__btn"
          aria-label="Point 3. Click for more info."
          aria-controls="poi-modal-3">
          <svg
            class="icon h-[12px] w-[12px] inline-block text-inherit fill-current leading-none shrink-0"
            viewBox="0 0 12 12"
            aria-hidden="true"
            ><path
              d="M11,5H7V1A1,1,0,0,0,5,1V5H1A1,1,0,0,0,1,7H5v4a1,1,0,0,0,2,0V7h4a1,1,0,0,0,0-2Z"
            ></path></svg
          >
        </button>
      </li>

      <li style="top: 56%; left: 33%;" class="poi__item js-poi__item">
        <button
          class="poi__btn"
          aria-label="Point 3. Click for more info."
          aria-controls="poi-modal-3">
          <svg
            class="icon h-[12px] w-[12px] inline-block text-inherit fill-current leading-none shrink-0"
            viewBox="0 0 12 12"
            aria-hidden="true"
            ><path
              d="M11,5H7V1A1,1,0,0,0,5,1V5H1A1,1,0,0,0,1,7H5v4a1,1,0,0,0,2,0V7h4a1,1,0,0,0,0-2Z"
            ></path></svg
          >
        </button>
      </li>
    </ul>
  </figure>

  <!-- Modal elements - one for each POI -->
  <!-- POI 1 -->
  <div
    id="poi-modal-1"
    class="modal modal--animate-scale flex justify-center items-center bg-gray-900/90 p-5 lg:p-8 js-modal">
    <div
      class="modal__content w-full max-w-lg lg:max-w-xl max-h-full overflow-auto bg-white rounded shadow-lg"
      role="alertdialog">
      <div class="p-3 lg:p-5">
        <div class="grid grid-cols-12 gap-3 lg:gap-5">
          <figure class="col-span-12">
            <img
              class="block max-h-32 mx-auto"
              src="/images/jonquieres.png"
              alt="Image description"
            />
          </figure>

          <h3 class="col-span-12">
            Ipsum ipsum voluptate aliqua duis pariatur.
          </h3>
          <p class="col-span-12">
            Lorem dolore tempor id mollit. Consectetur ea consequat adipisicing
            sit consequat culpa proident veniam qui veniam. Velit ex nisi quis
            enim officia eiusmod ullamco. Nulla excepteur ipsum incididunt anim.
            Ut ullamco dolore ut culpa aute. Fugiat eiusmod consequat
            reprehenderit dolor aliqua aliqua sint nulla sunt do eiusmod
            deserunt.
          </p>
        </div>

        <footer class="mt-3 lg:mt-5 flex justify-between items-center">
          <a
            class="bg-[var(--vert)] text-white shadow-md text-[1em] px-4 py-2 rounded-md relative inline-flex justify-center items-center whitespace-nowrap cursor-pointer no-underline leading-tight transition-all duration-200 hover:bg-[var(--vert-clair)] focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-700"
            href="#0">Nous contacter</a
          >
        </footer>
      </div>
    </div>

    <button
      class="modal__close-btn modal__close-btn--outer js-modal__close js-tab-focus">
      <svg
        class="icon inline-block text-inherit fill-current leading-none shrink-0 w-[24px] h-[24px]"
        viewBox="0 0 24 24">
        <title>Close modal window</title>
        <g
          fill="none"
          stroke="currentColor"
          stroke-miterlimit="10"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round">
          <line x1="3" y1="3" x2="21" y2="21"></line>
          <line x1="21" y1="3" x2="3" y2="21"></line>
        </g>
      </svg>
    </button>
  </div>

  <!-- POI 2 -->
  <div
    id="poi-modal-2"
    class="modal modal--animate-scale flex justify-center items-center bg-gray-900/90 p-5 lg:p-8 js-modal">
    <div
      class="modal__content w-full max-w-xl max-h-full overflow-auto bg-white rounded shadow-lg"
      role="alertdialog">
      <div class="p-3 lg:p-5">
        <div class="grid grid-cols-12 gap-3 lg:gap-5">
          <figure class="col-span-12">
            <img
              class="block max-h-32 mx-auto"
              src="/images/jonquieres.png"
              alt="Image description"
            />
          </figure>

          <h3 class="col-span-12">
            Ipsum ipsum voluptate aliqua duis pariatur.
          </h3>
          <p class="col-span-12">
            Lorem dolore tempor id mollit. Consectetur ea consequat adipisicing
            sit consequat culpa proident veniam qui veniam. Velit ex nisi quis
            enim officia eiusmod ullamco. Nulla excepteur ipsum incididunt anim.
            Ut ullamco dolore ut culpa aute. Fugiat eiusmod consequat
            reprehenderit dolor aliqua aliqua sint nulla sunt do eiusmod
            deserunt.
          </p>
        </div>

        <footer class="mt-3 lg:mt-5 flex justify-between items-center">
          <a
            class="bg-[var(--vert)] text-white shadow-md text-[1em] px-4 py-2 rounded-md relative inline-flex justify-center items-center whitespace-nowrap cursor-pointer no-underline leading-tight transition-all duration-200 hover:bg-[var(--vert-clair)] focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-700"
            href="#0">Nous contacter</a
          >
        </footer>
      </div>
    </div>

    <button
      class="modal__close-btn modal__close-btn--outer js-modal__close js-tab-focus">
      <svg
        class="icon inline-block text-inherit fill-current leading-none shrink-0 w-[24px] h-[24px]"
        viewBox="0 0 24 24">
        <title>Close modal window</title>
        <g
          fill="none"
          stroke="currentColor"
          stroke-miterlimit="10"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round">
          <line x1="3" y1="3" x2="21" y2="21"></line>
          <line x1="21" y1="3" x2="3" y2="21"></line>
        </g>
      </svg>
    </button>
  </div>

  <!-- POI 3 -->
  <div
    id="poi-modal-3"
    class="modal modal--animate-scale flex justify-center items-center bg-gray-900/90 p-5 lg:p-8 js-modal">
    <div
      class="modal__content w-full max-w-xl max-h-full overflow-auto bg-white rounded shadow-lg"
      role="alertdialog">
      <div class="p-3 lg:p-5">
        <div class="grid grid-cols-12 gap-3 lg:gap-5">
          <figure class="col-span-12">
            <img
              class="block max-h-32 mx-auto"
              src="/images/jonquieres.png"
              alt="Image description"
            />
          </figure>

          <h3 class="col-span-12">
            Ipsum ipsum voluptate aliqua duis pariatur.
          </h3>
          <p class="col-span-12">
            Lorem dolore tempor id mollit. Consectetur ea consequat adipisicing
            sit consequat culpa proident veniam qui veniam. Velit ex nisi quis
            enim officia eiusmod ullamco. Nulla excepteur ipsum incididunt anim.
            Ut ullamco dolore ut culpa aute. Fugiat eiusmod consequat
            reprehenderit dolor aliqua aliqua sint nulla sunt do eiusmod
            deserunt.
          </p>
        </div>

        <footer class="mt-3 lg:mt-5 flex justify-between items-center">
          <a
            class="bg-[var(--vert)] text-white shadow-md text-[1em] px-4 py-2 rounded-md relative inline-flex justify-center items-center whitespace-nowrap cursor-pointer no-underline leading-tight transition-all duration-200 hover:bg-[var(--vert-clair)] focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-700"
            href="#0">Nous contacter</a
          >
        </footer>
      </div>
    </div>

    <button
      class="modal__close-btn modal__close-btn--outer js-modal__close js-tab-focus">
      <svg
        class="icon inline-block text-inherit fill-current leading-none shrink-0 w-[24px] h-[24px]"
        viewBox="0 0 24 24">
        <title>Close modal window</title>
        <g
          fill="none"
          stroke="currentColor"
          stroke-miterlimit="10"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round">
          <line x1="3" y1="3" x2="21" y2="21"></line>
          <line x1="21" y1="3" x2="3" y2="21"></line>
        </g>
      </svg>
    </button>
  </div>

  <!-- POI 4 -->
  <div
    id="poi-modal-4"
    class="modal modal--animate-scale flex justify-center items-center bg-gray-900/90 p-5 lg:p-8 js-modal">
    <div
      class="modal__content w-full max-w-xl max-h-full overflow-auto bg-white rounded shadow-lg"
      role="alertdialog">
      <div class="p-3 lg:p-5">
        <div class="grid grid-cols-12 gap-3 lg:gap-5">
          <figure class="col-span-12">
            <img
              class="block max-h-32 mx-auto"
              src="/images/jonquieres.png"
              alt="Image description"
            />
          </figure>

          <h3 class="col-span-12">
            Ipsum ipsum voluptate aliqua duis pariatur.
          </h3>
          <p class="col-span-12">
            Lorem dolore tempor id mollit. Consectetur ea consequat adipisicing
            sit consequat culpa proident veniam qui veniam. Velit ex nisi quis
            enim officia eiusmod ullamco. Nulla excepteur ipsum incididunt anim.
            Ut ullamco dolore ut culpa aute. Fugiat eiusmod consequat
            reprehenderit dolor aliqua aliqua sint nulla sunt do eiusmod
            deserunt.
          </p>
        </div>

        <footer class="mt-3 lg:mt-5 flex justify-between items-center">
          <a
            class="bg-[var(--vert)] text-white shadow-md text-[1em] px-4 py-2 rounded-md relative inline-flex justify-center items-center whitespace-nowrap cursor-pointer no-underline leading-tight transition-all duration-200 hover:bg-[var(--vert-clair)] focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-700"
            href="#0">Nous contacter</a
          >
        </footer>
      </div>
    </div>

    <button
      class="modal__close-btn modal__close-btn--outer js-modal__close js-tab-focus">
      <svg
        class="icon inline-block text-inherit fill-current leading-none shrink-0 w-[24px] h-[24px]"
        viewBox="0 0 24 24">
        <title>Close modal window</title>
        <g
          fill="none"
          stroke="currentColor"
          stroke-miterlimit="10"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round">
          <line x1="3" y1="3" x2="21" y2="21"></line>
          <line x1="21" y1="3" x2="3" y2="21"></line>
        </g>
      </svg>
    </button>
  </div>
</section>

<style>
  /* --------------------------------

File#: _1_modal-window
Title: Modal Window
Descr: A modal dialog used to display critical information
Usage: codyhouse.co/license

-------------------------------- */
  .modal {
    position: fixed;
    @apply z-[15];
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
  }
  .modal:not(.modal--is-visible) {
    pointer-events: none;
    background-color: transparent;
  }

  .modal--is-visible {
    opacity: 1;
    visibility: visible;
  }

  /* close button */
  .modal__close-btn {
    display: flex;
    flex-shrink: 0;
    border-radius: 50%;
    transition: 0.2s;
  }
  .modal__close-btn .icon {
    display: block;
    margin: auto;
  }

  .modal__close-btn--outer {
    /* close button - outside the modal__content */
    width: 48px;
    height: 48px;
    position: fixed;
    @apply top-3 lg:top-5;
    @apply right-3 lg:right-5;
    @apply z-10;
    @apply bg-gray-900/90;
    transition: 0.2s;
  }
  .modal__close-btn--outer .icon {
    @apply text-white;
    /* icon color */
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  }
  .modal__close-btn--outer:hover {
    @apply bg-gray-900/100;
  }
  .modal__close-btn--outer:hover .icon {
    transform: scale(1.1);
  }

  .modal__close-btn--inner {
    /* close button - inside the modal__content */
    --size: 32px;
    width: var(--size);
    height: var(--size);
    @apply bg-white;
    @apply shadow-md;
    transition: 0.2s;
  }
  .modal__close-btn--inner .icon {
    color: inherit;
    /* icon color */
  }
  .modal__close-btn--inner:hover {
    @apply bg-white;
    @apply shadow-lg;
  }

  /* animations */
  :root {
    --modal-transition-duration: 0.2s;
    /* fallback (i.e., unless specified differently in the variations 👇) */
  }

  @media (prefers-reduced-motion: no-preference) {
    .modal--animate-fade {
      --modal-transition-duration: 0.2s;
      transition:
        opacity var(--modal-transition-duration),
        background-color var(--modal-transition-duration),
        visibility 0s var(--modal-transition-duration);
    }
    .modal--animate-fade.modal--is-visible {
      transition:
        opacity var(--modal-transition-duration),
        background-color var(--modal-transition-duration),
        visibility 0s;
    }

    .modal--animate-scale,
    .modal--animate-translate-up,
    .modal--animate-translate-down,
    .modal--animate-translate-right,
    .modal--animate-translate-left {
      --modal-transition-duration: 0.2s;
      transition:
        opacity var(--modal-transition-duration),
        background-color var(--modal-transition-duration),
        visibility 0s var(--modal-transition-duration);
    }
    .modal--animate-scale .modal__content,
    .modal--animate-translate-up .modal__content,
    .modal--animate-translate-down .modal__content,
    .modal--animate-translate-right .modal__content,
    .modal--animate-translate-left .modal__content {
      will-change: transform;
      transition: -webkit-transform var(--modal-transition-duration)
        cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: transform var(--modal-transition-duration)
        cubic-bezier(0.215, 0.61, 0.355, 1);
      transition:
        transform var(--modal-transition-duration)
          cubic-bezier(0.215, 0.61, 0.355, 1),
        -webkit-transform var(--modal-transition-duration) cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    .modal--animate-scale.modal--is-visible,
    .modal--animate-translate-up.modal--is-visible,
    .modal--animate-translate-down.modal--is-visible,
    .modal--animate-translate-right.modal--is-visible,
    .modal--animate-translate-left.modal--is-visible {
      transition:
        opacity var(--modal-transition-duration),
        background-color var(--modal-transition-duration),
        visibility 0s;
    }
    .modal--animate-scale.modal--is-visible .modal__content,
    .modal--animate-translate-up.modal--is-visible .modal__content,
    .modal--animate-translate-down.modal--is-visible .modal__content,
    .modal--animate-translate-right.modal--is-visible .modal__content,
    .modal--animate-translate-left.modal--is-visible .modal__content {
      transform: scale(1);
      /* reset all transformations */
    }

    .modal--animate-slide-up,
    .modal--animate-slide-down,
    .modal--animate-slide-right,
    .modal--animate-slide-left {
      --modal-transition-duration: 0.3s;
      transition:
        opacity 0s var(--modal-transition-duration),
        background-color var(--modal-transition-duration),
        visibility 0s var(--modal-transition-duration);
    }
    .modal--animate-slide-up .modal__content,
    .modal--animate-slide-down .modal__content,
    .modal--animate-slide-right .modal__content,
    .modal--animate-slide-left .modal__content {
      will-change: transform;
      transition: -webkit-transform var(--modal-transition-duration)
        cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: transform var(--modal-transition-duration)
        cubic-bezier(0.215, 0.61, 0.355, 1);
      transition:
        transform var(--modal-transition-duration)
          cubic-bezier(0.215, 0.61, 0.355, 1),
        -webkit-transform var(--modal-transition-duration) cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    .modal--animate-slide-up.modal--is-visible,
    .modal--animate-slide-down.modal--is-visible,
    .modal--animate-slide-right.modal--is-visible,
    .modal--animate-slide-left.modal--is-visible {
      transition:
        background-color var(--modal-transition-duration),
        visibility 0s;
    }
    .modal--animate-slide-up.modal--is-visible .modal__content,
    .modal--animate-slide-down.modal--is-visible .modal__content,
    .modal--animate-slide-right.modal--is-visible .modal__content,
    .modal--animate-slide-left.modal--is-visible .modal__content {
      transform: scale(1);
      /* reset all transformations */
    }

    /* scale */
    .modal--animate-scale .modal__content {
      -webkit-transform: scale(0.95);
      transform: scale(0.95);
    }

    /* translate */
    .modal--animate-translate-up .modal__content {
      -webkit-transform: translateY(40px);
      transform: translateY(40px);
    }

    .modal--animate-translate-down .modal__content {
      -webkit-transform: translateY(-40px);
      transform: translateY(-40px);
    }

    .modal--animate-translate-right .modal__content {
      -webkit-transform: translateX(-40px);
      transform: translateX(-40px);
    }

    .modal--animate-translate-left .modal__content {
      -webkit-transform: translateX(40px);
      transform: translateX(40px);
    }

    /* slide */
    .modal--animate-slide-up .modal__content {
      transform: translateY(100%);
    }

    .modal--animate-slide-down .modal__content {
      transform: translateY(-100%);
    }

    .modal--animate-slide-right .modal__content {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }

    .modal--animate-slide-left .modal__content {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }
  /* load content - optional */
  .modal--is-loading .modal__content {
    visibility: hidden;
  }
  .modal--is-loading .modal__loader {
    display: flex;
  }

  .modal__loader {
    /* loader icon */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: none;
    pointer-events: none;
  }

  /* --image */
  .modal-img-btn {
    position: relative;
    cursor: pointer;
  }
  .modal-img-btn::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @apply bg-gray-900/0;
    transition: background 0.2s;
  }
  .modal-img-btn:hover::after {
    @apply bg-gray-900/70;
  }
  .modal-img-btn:hover .modal-img-btn__icon-wrapper {
    opacity: 1;
  }

  .modal-img-btn__icon-wrapper {
    position: absolute;
    z-index: 2;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    width: 48px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    @apply bg-gray-900/70;
    opacity: 0;
    transition: opacity 0.2s;
  }
  .modal-img-btn__icon-wrapper .icon {
    @apply text-white;
  }

  .modal .momentum-scrolling {
    -webkit-overflow-scrolling: touch;
  }

  /* icon loading animation */
  .icon--is-spinning {
    animation: icon-spin 1s infinite linear;
  }

  @keyframes icon-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /* --------------------------------

File#: _2_image-interest-points
Title: Points Of Interest
Descr: Highlight the points of interest of an image and provide additional details for each one.
Usage: codyhouse.co/license

-------------------------------- */
  .poi {
    pointer-events: none;
  }

  .poi__item {
    position: absolute;
    pointer-events: auto;
  }

  .poi__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    --size: 32px;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    @apply bg-rose-600;
    @apply shadow-md;
    cursor: pointer;
    transition: 0.2s;
  }
  .poi__btn::after {
    /* pulse ring */
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: inset 0 0 1px 1px #e11d48;
    -webkit-animation: poi-pulse 2s infinite;
    animation: poi-pulse 2s infinite;
  }
  .poi__btn .icon {
    @apply text-white;
    /* icon color */
    --size: 12px;
    transition: -webkit-transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    transition:
      transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1),
      -webkit-transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  }
  .poi__btn:hover .icon {
    transform: scale(1.1);
  }

  .poi__item--visited button {
    /* style of clicked button */
    @apply bg-gray-900/95;
    backdrop-filter: blur(10px);
  }
  .poi__item--visited button::after {
    display: none;
  }

  @-webkit-keyframes poi-pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1.6);
      transform: scale(1.6);
      opacity: 0;
    }
  }

  @keyframes poi-pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1.6);
      transform: scale(1.6);
      opacity: 0;
    }
  }
</style>

<script>
  // File#: _2_points-of-interest
  // Usage: codyhouse.co/license
  (function () {
    function initPoi(element) {
      element.addEventListener("click", function (event) {
        var poiItem = event.target.closest(".js-poi__item");
        if (poiItem) poiItem.classList.add("poi__item--visited");
      });
    }

    var poi = document.getElementsByClassName("js-poi");
    for (var i = 0; i < poi.length; i++) {
      (function (i) {
        initPoi(poi[i]);
      })(i);
    }
  })();
</script>
