---
const {node} = Astro.props;
---

<section class="video-bg relative">
  <video
    autoplay
    loop
    muted
    controls
    preload="auto"
    src="https://cdn.sanity.io/files/39ozs2jh/production/6ed2f93ffb7307f3457d53852bc68aa757500569.mp4">
  </video>
</section>

<style>
  /* --------------------------------

File#: _1_video-background
Title: Responsive Video Background
Descr: A full-width responsive video background
Usage: codyhouse.co/license

-------------------------------- */
  .video-bg {
    display: grid;
  }
  .video-bg > * {
    grid-row: 1;
    grid-column: 1;
  }

  .video-bg > video {
    max-width: 100%;
    margin-inline: auto;
    height: auto;
  }

  @supports ((-o-object-fit: cover) or (object-fit: cover)) {
    .video-bg__media video {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  @supports ((-o-object-fit: cover) or (object-fit: cover)) and
    (-ms-ime-align: auto) {
    .video-bg__media video {
      height: auto;
      width: auto;
    }
  }
  .video-bg img {
    display: none;
  }
  @media (prefers-reduced-motion: reduce) {
    .video-bg video {
      visibility: hidden;
    }
    .video-bg img {
      display: block;
      position: absolute;

      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
</style>
