---
const {node} = Astro.props;

if (node.href.isExt === false) {
  if (node.href.linkInt == undefined) {
    node.href.linkInt = "/";
  }
}

console.log(node);
---

<a
  class={`${node.color || "vert"} ${node.size || "small"} button`}
  href={`${node.href.isExt ? node.href.linkExt : node.href.linkInt}`}>
  {node.content}
</a>

<style>
  a.vert {
    background-color: var(--color-accent1);
    color: var(--color-bg);
  }

  a.bordeau {
    background-color: var(--color-accent2);
    color: var(--color-bg);
  }

  a.vert:hover,
  a.vert:focus {
    box-shadow: inset 100em 0 0 0 var(--color-accent2-dim);
  }

  a.bordeau:hover,
  a.bordeau:focus {
    box-shadow: inset 100em 0 0 0 var(--color-accent1-dim);
    color: var(--color-accent2);
  }

  a.small {
    font-size: var(--size-s);
  }

  a.medium {
    font-size: var(--size-m);
  }

  a.large {
    font-size: var(--size-l);
  }

  a {
    display: inline-block;
    padding-inline: var(--space-xs);
    padding-block: var(--space-3xs);
    margin-block: var(--space-xs);
    transition: 0.2s;
  }
</style>
