<section class="py-16 lg:py-20 bg-[#00705F]">
  <div
    class="w-[calc(100%_-_2.5rem)] lg:w-[calc(100%_-_4rem)] mx-auto max-w-3xl">
    <div class="text-center">
      <h1 class="mb-2 text-white border-white">
        PRODUCTEUR DE PLANTS DE VIGNE
      </h1>
      <p class="text-white/80 text-lg font-bold">
        Notre pépinière viticole familiale est productrice de l’ensemble de ses
        plants de vigne afin de garantir la meilleure qualité sanitaire et
        physique des plants, au prix le plus juste pour tous nos partenaires !
        Afin de répondre au mieux à vos projets de plantations ou de
        complantations, nos plants de vigne sont conçus pour la réussite et la
        durabilité de votre vignoble.
      </p>
    </div>
  </div>
</section>

<section class="sticky-feature relative z-[1] py-8 lg:py-12 js-sticky-feature">
  <div
    class="w-[calc(100%_-_2.5rem)] lg:w-[calc(100%_-_4rem)] mx-auto max-w-lg md:max-w-3xl lg:max-w-5xl xl:max-w-7xl">
    <div class="grid grid-cols-12 lg:gap-8">
      <div class="col-span-12 lg:col-span-6 xl:col-span-5">
        <ul
          class="grid grid-cols-12 gap-y-12 lg:gap-y-32 lg:py-[50vh] js-sticky-feature__content-list">
          <li class="col-span-12 js-sticky-feature__content-item">
            <div
              class="sticky-feature__title lg:cursor-pointer lg:opacity-30 js-sticky-feature__title">
              <h3
                class="text-4xl lg:text-7xl bold cabinet pb-4 text-[var(--vert)]">
                16 000 000
              </h3>
              <p class="matonne">
                Plus de 16 millions de plants de vignes produits par an
              </p>
            </div>

            <figure class="rounded-md overflow-hidden mt-5 lg:sr-only">
              <img
                class="block w-full max-w-[300px] mx-auto"
                src="/images/ICONE-VELLETAZ-VIGNES-min-1.png"
                alt="Image description"
              />
            </figure>
          </li>

          <li class="col-span-12 js-sticky-feature__content-item">
            <div
              class="sticky-feature__title lg:cursor-pointer lg:opacity-30 js-sticky-feature__title">
              <h3
                class="text-4xl lg:text-7xl bold cabinet pb-4 text-[var(--vert)]">
                17
              </h3>
              <p class="matonne">Plus de 17 porte-greffes différents</p>
            </div>

            <figure class="rounded-md overflow-hidden mt-5 lg:sr-only">
              <img
                class="block w-full max-w-[300px] mx-auto"
                src="/images/ICONE-VELLETAZ-FEUILLE-VIGNE-min-1.png"
                alt="Image description"
              />
            </figure>
          </li>

          <li class="col-span-12 js-sticky-feature__content-item">
            <div
              class="sticky-feature__title lg:cursor-pointer lg:opacity-30 js-sticky-feature__title">
              <h3
                class="text-4xl lg:text-7xl bold cabinetpb-4 text-[var(--vert)]">
                220
              </h3>
              <p class="matonne">
                Plus de 220 hectares de vignes-mères, greffons et porte-greffes
              </p>
            </div>

            <figure class="rounded-md overflow-hidden mt-5 lg:sr-only">
              <img
                class="block w-full max-w-[300px] mx-auto"
                src="/images/ICONE-VELLETAZ-PAYSAGE-RANGS-VIGNES-min-1.png"
                alt="Image description"
              />
            </figure>
          </li>

          <li class="col-span-12 js-sticky-feature__content-item">
            <div
              class="sticky-feature__title lg:cursor-pointer lg:opacity-30 js-sticky-feature__title">
              <h3
                class="text-4xl lg:text-7xl bold cabinetpb-4 text-[var(--vert)]">
                80
              </h3>
              <p class="matonne">Plus de 80 cépages distincts</p>
            </div>

            <figure class="rounded-md overflow-hidden mt-5 lg:sr-only">
              <img
                class="block w-full max-w-[300px] mx-auto"
                src="/images/ICONE-VELLETAZ-GRAPPES-RAISIN-min-1.png"
                alt="Image description"
              />
            </figure>
          </li>

          <li class="col-span-12 js-sticky-feature__content-item">
            <div
              class="sticky-feature__title lg:cursor-pointer lg:opacity-30 js-sticky-feature__title">
              <h3
                class="text-4xl lg:text-7xl bold cabinet pb-4 text-[var(--vert)]">
                4
              </h3>
              <p class="matonne">Sites de production et de commercialisation</p>
            </div>

            <figure class="rounded-md overflow-hidden mt-5 lg:sr-only">
              <img
                class="block w-full max-w-[300px] mx-auto"
                src="/images/ICONE-VELLETAZ-SITES-DE-PRODUCTION-min-1.png"
                alt="Image description"
              />
            </figure>
          </li>
        </ul>
      </div>

      <div
        class="hidden lg:block lg:col-span-6 xl:col-start-7"
        aria-hidden="true">
        <ul
          class="sticky top-0 h-screen after:content-[''] after:absolute after:right-0 after:bottom-0 after:w-screen after:h-[100px] after:pointer-events-none after:bg-gradient-to-t after:from-white after:via-white/80 after:to-white/0 before:content-[''] before:absolute before:right-0 before:top-0 before:w-screen before:h-[100px] before:pointer-events-none before:bg-gradient-to-b before:from-white before:via-white/80 before:to-white/0 js-sticky-feature__media-list">
          <li
            class="absolute z-[1] top-0 left-0 h-full w-full flex items-center justify-center js-sticky-feature__media-item">
            <figure
              class="sticky-feature__media-figure rounded-xl overflow-hidden opacity-0">
              <img
                class="block w-full max-h-[90vh]"
                src="/images/ICONE-VELLETAZ-VIGNES-min-1.png"
                alt="Image description"
              />
            </figure>
          </li>

          <li
            class="absolute z-[1] top-0 left-0 h-full w-full flex items-center justify-center js-sticky-feature__media-item">
            <figure
              class="sticky-feature__media-figure rounded-xl overflow-hidden opacity-0">
              <img
                class="block w-full max-h-[90vh]"
                src="/images/ICONE-VELLETAZ-FEUILLE-VIGNE-min-1.png"
                alt="Image description"
              />
            </figure>
          </li>

          <li
            class="absolute z-[1] top-0 left-0 h-full w-full flex items-center justify-center js-sticky-feature__media-item">
            <figure
              class="sticky-feature__media-figure rounded-xl overflow-hidden opacity-0">
              <img
                class="block w-full max-h-[90vh]"
                src="/images/ICONE-VELLETAZ-PAYSAGE-RANGS-VIGNES-min-1.png"
                alt="Image description"
              />
            </figure>
          </li>

          <li
            class="absolute z-[1] top-0 left-0 h-full w-full flex items-center justify-center js-sticky-feature__media-item">
            <figure
              class="sticky-feature__media-figure rounded-xl overflow-hidden opacity-0">
              <img
                class="block w-full max-h-[90vh]"
                src="/images/ICONE-VELLETAZ-GRAPPES-RAISIN-min-1.png"
                alt="Image description"
              />
            </figure>
          </li>

          <li
            class="absolute z-[1] top-0 left-0 h-full w-full flex items-center justify-center js-sticky-feature__media-item">
            <figure
              class="sticky-feature__media-figure rounded-xl overflow-hidden opacity-0">
              <img
                class="block w-full max-h-[90vh]"
                src="/images/ICONE-VELLETAZ-SITES-DE-PRODUCTION-min-1.png"
                alt="Image description"
              />
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style>
  .sticky-feature-current-item .sticky-feature__media-figure {
    opacity: 1;
  }

  @media (min-width: 64rem) {
    .sticky-feature__title:hover,
    .sticky-feature-current-item .sticky-feature__title {
      opacity: 1;
    }
  }
</style>

<script>
  // File#: _1_sticky-feature
  // Usage: codyhouse.co/license
  (function () {
    var StickyFeature = function (element) {
      this.element = element;
      this.contentList = this.element.getElementsByClassName(
        "js-sticky-feature__content-list"
      );
      this.assetsList = this.element.getElementsByClassName(
        "js-sticky-feature__media-list"
      );

      if (this.contentList.length < 1 || this.assetsList.length < 1) return;

      this.contentItems = this.contentList[0].getElementsByClassName(
        "js-sticky-feature__content-item"
      );
      this.assetItems = this.assetsList[0].getElementsByClassName(
        "js-sticky-feature__media-item"
      );

      this.titleItems = this.contentList[0].getElementsByClassName(
        "js-sticky-feature__title"
      );
      this.activeSectionClass = "sticky-feature-current-item";
      this.bindScroll = false;
      this.scrolling = false;
      initStickyFeature(this);
    };

    function initStickyFeature(el) {
      // init observer - detect when feature list enters the viewport and change section
      var observer = new IntersectionObserver(stickyFeatureObserve.bind(el));
      observer.observe(el.contentList[0]);

      // init click on title
      for (var i = 0; i < el.titleItems.length; i++) {
        (function (i) {
          el.titleItems[i].addEventListener("click", function (event) {
            scrollToSection(el, i);
          });
        })(i);
      }
    }

    function stickyFeatureObserve(entries) {
      if (entries[0].isIntersecting) {
        if (!this.bindScroll) {
          getSelectSection(this); // update selected section
          bindScroll(this); // bind window scroll
        }
      } else if (this.bindScroll) {
        unbindScroll(this); // unbind window scroll
        resetSectionVisibility(this); // reset selected section
      }
    }

    function updateVisibleSection(el) {
      // on scroll, detect which section should be selected
      var self = this;
      if (this.scrolling) return;
      this.scrolling = true;
      window.requestAnimationFrame(function () {
        getSelectSection(self);
        self.scrolling = false;
      });
    }

    function getSelectSection(el) {
      resetSectionVisibility(el); // remove selected class from all sections
      // get the section to select
      var index = [];
      for (var i = 0; i < el.contentItems.length; i++) {
        if (
          el.contentItems[i].getBoundingClientRect().top <=
          window.innerHeight / 2
        )
          index.push(i);
      }
      var itemIndex = index.length > 0 ? index[index.length - 1] : 0; // select either the first section or the one in the center of the viewport
      selectSection(el, itemIndex);
    }

    function resetSectionVisibility(el) {
      // no section is selected -> remove selected class
      var selectedItems = el.element.getElementsByClassName(
        el.activeSectionClass
      );
      while (selectedItems[0]) {
        selectedItems[0].classList.remove(el.activeSectionClass);
      }
    }

    function selectSection(el, index) {
      el.contentItems[index].classList.add(el.activeSectionClass);
      el.assetItems[index].classList.add(el.activeSectionClass);
    }

    function scrollToSection(el, index) {
      // on click - scroll to the selected section
      if (el.assetsList[0].offsetWidth < 1) return;
      window.scrollBy({
        top:
          el.titleItems[index].getBoundingClientRect().top -
          window.innerHeight / 2 +
          10,
        behavior: "smooth",
      });
    }

    function bindScroll(el) {
      if (!el.bindScroll) {
        el.bindScroll = updateVisibleSection.bind(el);
        window.addEventListener("scroll", el.bindScroll);
      }
    }

    function unbindScroll(el) {
      if (el.bindScroll) {
        window.removeEventListener("scroll", el.bindScroll);
        el.bindScroll = false;
      }
    }

    window.StickyFeature = StickyFeature;

    //initialize the StickyFeature objects
    var stickyFeatures = document.getElementsByClassName("js-sticky-feature");
    if (stickyFeatures.length > 0) {
      for (var i = 0; i < stickyFeatures.length; i++) {
        (function (i) {
          new StickyFeature(stickyFeatures[i]);
        })(i);
      }
    }
  })();
</script>
