---
let {node} = Astro.props;

if (node.markDef?.href?.startsWith("http") == false) {
  node.markDef.href = "/" + node.markDef.href;
  if (node.markDef?.href?.endsWith("/") === false) {
    node.markDef.href += "/";
  }
}

console.log(node);
---

<a href={node.markDef.href} target={node.markDef.blank ? "_blank" : "_self"}>
  {node.children[0].text}
</a>
