<section
  class="motion-logo max-h-screen py-auto md:py-64 px-4 md:px-[8vw] xl:px-[25vw]">
  <div
    class="box h-[50vh] mx-auto flex flex-col gap-8 items-center justify-center">
    <svg
      id="logo--ban"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 633.34 188.13">
      <defs>
        <style>
          .cls-1,
          .cls-2 {
            stroke-width: 6px;
          }

          .cls-1,
          .cls-2,
          .cls-3 {
            fill: none;
            stroke: #007362;
            stroke-miterlimit: 10;
          }

          .cls-1,
          .cls-3 {
            stroke-linecap: round;
          }

          .cls-4 {
            fill: #007160;
          }

          .cls-4,
          .cls-5 {
            stroke-width: 0px;
          }

          .cls-2 {
            stroke-linecap: square;
          }

          .cls-5 {
            fill: #007362;
          }

          .cls-3 {
            stroke-width: 4px;
          }
        </style>
      </defs>
      <g id="logotype">
        <g id="text">
          <g id="VITICOLES">
            <path
              class="cls-4"
              d="M438.47,152.6h4.9l6.52,18.07,6.72-18.07h4.59l-9.66,23.91h-3.68l-9.39-23.91Z"
            ></path>
            <path class="cls-4" d="M467.04,152.6h4.25v23.91h-4.25v-23.91Z"
            ></path>
            <path
              class="cls-4"
              d="M484.8,156.45h-7.33v-3.85h18.91v3.85h-7.33v20.06h-4.25v-20.06Z"
            ></path>
            <path class="cls-4" d="M502.57,152.6h4.25v23.91h-4.25v-23.91Z"
            ></path>
            <path
              class="cls-4"
              d="M531.85,158.2c-1.76-1.86-3.38-2.36-5.03-2.36-4.93,0-8.2,3.78-8.2,8.54,0,5.1,3.28,8.88,8.2,8.88,1.93,0,3.78-.88,5.37-2.9l3.51,2.5c-2.16,2.97-5.4,4.25-8.91,4.25-7.36,0-12.63-5-12.63-12.46s5.27-12.66,12.63-12.66c3.24,0,6.01,1.05,8.37,3.78l-3.31,2.43Z"
            ></path>
            <path
              class="cls-4"
              d="M553.3,151.99c7.46-.14,12.73,4.86,12.73,12.53s-5.27,12.46-12.73,12.59c-7.36,0-12.63-5-12.63-12.46s5.27-12.66,12.63-12.66ZM553.33,173.26c4.96,0,8.24-3.78,8.24-8.88,0-4.76-3.28-8.54-8.24-8.54s-8.2,3.78-8.2,8.54c0,5.1,3.28,8.88,8.2,8.88Z"
            ></path>
            <path
              class="cls-4"
              d="M573.47,152.6h4.25v20.06h10.16v3.85h-14.42v-23.91Z"></path>
            <path
              class="cls-4"
              d="M594.37,152.6h15.84v3.85h-11.58v5.87h10.97v3.85h-10.97v6.48h12.19v3.85h-16.44v-23.91Z"
            ></path>
            <path
              class="cls-4"
              d="M630.1,157.73c-.91-1.28-2.53-1.89-4.19-1.89-1.96,0-3.92.88-3.92,3.07,0,4.8,11.34,2.06,11.34,10.57,0,5.13-4.05,7.63-8.75,7.63-2.97,0-5.87-.91-7.83-3.24l3.21-3.11c1.05,1.59,2.84,2.5,4.73,2.5s4.19-1.08,4.19-3.28c0-5.23-11.34-2.23-11.34-10.77,0-4.93,4.39-7.23,8.81-7.23,2.5,0,5,.71,6.85,2.46l-3.11,3.28Z"
            ></path>
          </g>
          <g id="PEPINIERES">
            <path
              class="cls-4"
              d="M204.58,152.6h8.04c4.63,0,8.81,1.62,8.81,6.92,0,6.01-4.49,7.09-9.55,7.09h-3.04v9.89h-4.25v-23.91ZM211.4,162.96c2.43,0,5.57-.14,5.57-3.38,0-2.94-2.8-3.34-5.1-3.34h-3.04v6.72h2.57Z"
            ></path>
            <path
              class="cls-4"
              d="M228.59,152.6h15.84v3.85h-11.58v5.87h10.97v3.85h-10.97v6.48h12.19v3.85h-16.45v-23.91ZM238.01,146.11h4.59l-4.76,4.86h-3.18l3.34-4.86Z"
            ></path>
            <path
              class="cls-4"
              d="M252.61,152.6h8.04c4.63,0,8.81,1.62,8.81,6.92,0,6.01-4.49,7.09-9.55,7.09h-3.04v9.89h-4.25v-23.91ZM259.43,162.96c2.43,0,5.57-.14,5.57-3.38,0-2.94-2.8-3.34-5.1-3.34h-3.04v6.72h2.57Z"
            ></path>
            <path class="cls-4" d="M276.52,152.6h4.25v23.91h-4.25v-23.91Z"
            ></path>
            <path
              class="cls-4"
              d="M289.39,152.6h5.64l11.58,17.76h.07v-17.76h4.26v23.91h-5.4l-11.82-18.33h-.07v18.33h-4.26v-23.91Z"
            ></path>
            <path class="cls-4" d="M319.55,152.6h4.25v23.91h-4.25v-23.91Z"
            ></path>
            <path
              class="cls-4"
              d="M332.42,152.6h15.84v3.85h-11.58v5.87h10.97v3.85h-10.97v6.48h12.19v3.85h-16.45v-23.91ZM341.67,150.98h-3.18l-4.76-4.86h4.59l3.34,4.86Z"
            ></path>
            <path
              class="cls-4"
              d="M356.43,152.6h8.31c4.59,0,8.91,1.49,8.91,6.85,0,3.45-1.99,5.98-5.54,6.48l6.35,10.57h-5.13l-5.54-10.13h-3.11v10.13h-4.25v-23.91ZM363.99,162.73c2.4,0,5.2-.2,5.2-3.31,0-2.84-2.63-3.17-4.83-3.17h-3.68v6.48h3.31Z"
            ></path>
            <path
              class="cls-4"
              d="M381.09,152.6h15.84v3.85h-11.58v5.87h10.97v3.85h-10.97v6.48h12.19v3.85h-16.44v-23.91Z"
            ></path>
            <path
              class="cls-4"
              d="M416.82,157.73c-.91-1.28-2.53-1.89-4.19-1.89-1.96,0-3.92.88-3.92,3.07,0,4.8,11.35,2.06,11.35,10.57,0,5.13-4.05,7.63-8.75,7.63-2.97,0-5.88-.91-7.83-3.24l3.21-3.11c1.05,1.59,2.84,2.5,4.73,2.5s4.19-1.08,4.19-3.28c0-5.23-11.34-2.23-11.34-10.77,0-4.93,4.39-7.23,8.81-7.23,2.5,0,5,.71,6.85,2.46l-3.11,3.28Z"
            ></path>
          </g>
          <g id="GROUPE">
            <path
              class="cls-4"
              d="M355.11,99.39v15.79c-3.12,1.9-8.24,2.94-12.13,2.94-10.86,0-17.15-7.74-17.15-16.84s6.92-16.84,16.7-16.84c5.88,0,9.46,1.58,11.95,4.16l-3.08,3.3c-2.62-2.53-5.66-3.39-8.87-3.39-7.33,0-12.08,5.75-12.08,12.76s5.39,12.76,12.45,12.76c3.03,0,5.93-.59,7.87-1.67v-8.92h-7.11v-4.07h11.45Z"
            ></path>
            <path
              class="cls-4"
              d="M363.58,85.27h11.27c8.19,0,10.27,4.93,10.27,8.96s-3.03,7.92-7.87,8.46l9.1,14.62h-5.43l-8.15-14.12h-4.84v14.12h-4.34v-32.04ZM367.92,99.39h5.7c3.44,0,6.88-.81,6.88-5.16s-3.44-5.16-6.88-5.16h-5.7v10.32Z"
            ></path>
            <path
              class="cls-4"
              d="M389.79,101.29c0-9.5,6.92-16.84,16.7-16.84s16.7,7.33,16.7,16.84-6.92,16.84-16.7,16.84-16.7-7.33-16.7-16.84ZM418.57,101.29c0-7.01-4.75-12.76-12.08-12.76s-12.08,5.75-12.08,12.76,4.75,12.76,12.08,12.76,12.08-5.75,12.08-12.76Z"
            ></path>
            <path
              class="cls-4"
              d="M433.74,85.27v19.64c0,3.98,1.99,9.14,8.06,9.14s8.06-5.16,8.06-9.14v-19.64h4.34v20.32c0,7.42-5.39,12.54-12.4,12.54s-12.4-5.11-12.4-12.54v-20.32h4.34Z"
            ></path>
            <path
              class="cls-4"
              d="M462.39,85.27h11.27c8.19,0,10.27,4.93,10.27,8.96s-2.08,8.96-10.27,8.96h-6.92v14.12h-4.34v-32.04ZM466.74,99.39h5.7c3.44,0,6.88-.81,6.88-5.16s-3.44-5.16-6.88-5.16h-5.7v10.32Z"
            ></path>
            <path
              class="cls-4"
              d="M489.78,85.27h20.68v4.07h-16.34v9.55h15.21v4.07h-15.21v10.27h17.15v4.07h-21.5v-32.04Z"
            ></path>
          </g>
          <g id="VELLETAZ">
            <path
              class="cls-4"
              d="M201.8,1.42h14.25l14.01,37.16h.16L244.49,1.42h13.37l-23.38,56.7h-10.01L201.8,1.42Z"
            ></path>
            <path
              class="cls-4"
              d="M270.27,1.42h38.52v11.53h-26.03v10.57h24.59v11.53h-24.59v11.53h27.47v11.53h-39.96V1.42Z"
            ></path>
            <path
              class="cls-4"
              d="M326.73,1.42h12.49v45.17h23.15v11.53h-35.64V1.42Z"></path>
            <path
              class="cls-4"
              d="M375.74,1.42h12.49v45.17h23.14v11.53h-35.64V1.42Z"></path>
            <path
              class="cls-4"
              d="M424.76,1.42h38.52v11.53h-26.03v10.57h24.59v11.53h-24.59v11.53h27.47v11.53h-39.96V1.42Z"
            ></path>
            <path
              class="cls-4"
              d="M491.7,12.47h-16.18V1.42h44.85v11.05h-16.18v45.65h-12.49V12.47Z"
            ></path>
            <path
              class="cls-4"
              d="M544,1.42h10.33l24.67,56.7h-14.1l-4.88-12.01h-22.02l-4.73,12.01h-13.77l24.5-56.7ZM548.8,17.91l-6.89,17.62h13.85l-6.97-17.62Z"
            ></path>
            <path
              class="cls-4"
              d="M587.72,46.58l28.75-34.12h-27.71V1.42h42.84v11.05l-28.19,34.12h29.15v11.53h-44.85v-11.53Z"
            ></path>
          </g>
        </g>
        <g id="trait">
          <rect class="cls-4" x="203.89" y="104.7" width="86.91" height="2.93"
          ></rect>
          <rect class="cls-4" x="545.35" y="104.7" width="86.91" height="2.93"
          ></rect>
        </g>
      </g>
      <g id="logomark">
        <path
          id="blason"
          class="cls-2"
          d="M3,3v98.34c0,43.81,62.1,83.62,80.72,83.79h.11c10.37,0,35.07-13.09,54.13-31.99,11.92-11.83,26.13-30.42,26.13-51.8V3H3Z"
        ></path>
        <g id="grappe">
          <g id="pedoncule">
            <rect class="cls-5" x="80.85" y="5.79" width="5.34" height="10.3"
            ></rect>
          </g>
          <g id="grains">
            <path
              class="cls-5"
              d="M61.45,41.77c4.75,0,8.6-3.87,8.6-8.64s-3.85-8.64-8.6-8.64-8.6,3.87-8.6,8.64,3.85,8.64,8.6,8.64Z"
            ></path>
            <ellipse class="cls-5" cx="83.52" cy="33.13" rx="8.6" ry="8.64"
            ></ellipse>
            <path
              class="cls-5"
              d="M105.58,41.77c4.75,0,8.6-3.87,8.6-8.64s-3.85-8.64-8.6-8.64-8.6,3.87-8.6,8.64,3.85,8.64,8.6,8.64Z"
            ></path>
            <ellipse class="cls-5" cx="72.48" cy="54.41" rx="8.6" ry="8.64"
            ></ellipse>
            <ellipse class="cls-5" cx="94.55" cy="54.41" rx="8.6" ry="8.64"
            ></ellipse>
            <ellipse class="cls-5" cx="83.52" cy="76.55" rx="8.6" ry="8.64"
            ></ellipse>
          </g>
        </g>
        <g id="vignoble-gauche">
          <path
            class="cls-1 one"
            d="M3.47,87.32c57.16,3.26,93.93,49.27,96.21,92.81"></path>
          <path
            class="cls-3 two"
            d="M3.41,107.75c51.25,6.26,73.72,42,75.09,76.61"></path>
          <path
            class="cls-3 three"
            d="M10.64,128.83c30.62,8.02,38.54,21.65,46.71,45.68"></path>
        </g>
        <g id="vignoble-droite">
          <line class="cls-1 one" x1="48.68" y1="100.27" x2="163.53" y2="100.27"
          ></line>
          <line class="cls-3 two" x1="73.61" y1="119.69" x2="92.85" y2="100.45"
          ></line>
          <line
            class="cls-3 three"
            x1="88.99"
            y1="139.54"
            x2="128.26"
            y2="100.27"></line>
          <line class="cls-3 four" x1="98.96" y1="166.28" x2="164.1" y2="101.14"
          ></line>
        </g>
      </g>
    </svg>
  </div>
</section>

<style>
  #logotype {
    opacity: 0;
  }
  #blason {
    opacity: 0;
  }
  #logomark {
    opacity: 0;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const motionLogo = document.querySelector(".motion-logo");

  if (motionLogo) {
    let tl = gsap.timeline({
      // yes, we can add it to an entire timeline!
      scrollTrigger: {
        trigger: ".box",
      },
    });

    var logo = document.querySelector("#logo--ban");
    var logotype = document.querySelector("#logotype");
    var logomark = document.querySelector("#logomark");
    var grappe = document.querySelector("#grappe");
    var grains = document.querySelector("#grains");
    var pedoncule = document.querySelector("#pedoncule");
    var vigneGauche = document.querySelector("#vignoble-gauche");
    var vigneDroite = document.querySelector("#vignoble-droite");
    var blason = document.querySelector("#blason");
    var vg1 = vigneGauche.querySelector(".one");
    var vg2 = vigneGauche.querySelector(".two");
    var vg3 = vigneGauche.querySelector(".three");
    var vd1 = vigneDroite.querySelector(".one");
    var vd2 = vigneDroite.querySelector(".two");
    var vd3 = vigneDroite.querySelector(".three");
    var vd4 = vigneDroite.querySelector(".four");

    var lBlason = blason.getTotalLength();
    var lVg1 = vg1.getTotalLength();
    var lVg2 = vg2.getTotalLength();
    var lVg3 = vg3.getTotalLength();
    var lVd1 = vd1.getTotalLength();
    var lVd2 = vd2.getTotalLength();
    var lVd3 = vd3.getTotalLength();
    var lVd4 = vd4.getTotalLength();

    const mediaQuery = window.matchMedia("(prefers-reduced-motion: reduce)");
    if (!mediaQuery.matches) {
      tl.set(logotype, { opacity: 0 });
      tl.set(logomark, { translateX: "250px" });
      tl.set(blason, { opacity: 0 });
      tl.set(blason, { strokeDasharray: lBlason });
      tl.set(vg1, { strokeDasharray: lVg1 });
      tl.set(vg2, { strokeDasharray: lVg2 });
      tl.set(vg3, { strokeDasharray: lVg3 });
      tl.set(vd1, { strokeDasharray: lVd1 });
      tl.set(vd2, { strokeDasharray: lVd2 });
      tl.set(vd3, { strokeDasharray: lVd3 });
      tl.set(vd4, { strokeDasharray: lVd4 });
      tl.to(logomark, { opacity: 1, duration: 1 });
      tl.fromTo(
        blason,
        { strokeDashoffset: lBlason, opacity: 0 },
        { strokeDashoffset: 2 * lBlason - 1, opacity: 1, duration: 1 }
      );
      tl.fromTo(
        vg1,
        { strokeDashoffset: lVg1, opacity: 0 },
        { strokeDashoffset: 2 * lVg1, opacity: 1, duration: 0.2 }
      );
      tl.fromTo(
        vg2,
        { strokeDashoffset: lVg2, opacity: 0 },
        { strokeDashoffset: 2 * lVg2, opacity: 1, duration: 0.2 }
      );
      tl.fromTo(
        vg3,
        { strokeDashoffset: lVg3, opacity: 0 },
        { strokeDashoffset: 2 * lVg3, opacity: 1, duration: 0.2 }
      );
      tl.fromTo(
        vd1,
        { strokeDashoffset: lVd1, opacity: 0 },
        { strokeDashoffset: 2 * lVd1, opacity: 1, duration: 0.2 }
      );
      tl.fromTo(
        vd2,
        { strokeDashoffset: lVd2, opacity: 0 },
        { strokeDashoffset: 2 * lVd2, opacity: 1, duration: 0.2 }
      );
      tl.fromTo(
        vd3,
        { strokeDashoffset: lVd3, opacity: 0 },
        { strokeDashoffset: 2 * lVd3, opacity: 1, duration: 0.2 }
      );
      tl.fromTo(
        vd4,
        { strokeDashoffset: lVd4, opacity: 0 },
        { strokeDashoffset: 2 * lVd4, opacity: 1, duration: 0.2 }
      );
      tl.to(logomark, { translateX: 0 });
      tl.to(logotype, { opacity: 1 });
    }
  }
</script>
