<div class="scrollTelling py-[25vh]">
  <section>
    <div class="content">
      <div class="relative bg-white">
        <img
          src="/images/vignes1.jpg"
          alt=""
          class="w-full h-screen object-cover opacity-50"
          data-philter-duotone="#00705F #FFFFFF"
          data-philter-blur="2"
        />
        <div class="text">
          <h2>Sunt sunt eu pariatur in do quis ad nostrud eiusmod.</h2>
          <p>
            Non esse et qui dolor occaecat Lorem laboris anim. Dolor commodo
            consectetur eu elit aliqua reprehenderit velit culpa anim eiusmod
            veniam. Reprehenderit et ea sunt ea cillum anim enim culpa ad fugiat
            qui.
          </p>
          <p>
            Do irure aliquip sunt non sint adipisicing. Tempor culpa aute
            proident consequat labore officia ut occaecat tempor tempor. Esse
            consectetur ad aliqua amet consequat dolor quis adipisicing.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="relative bg-white">
        <img
          src="/images/vignes2.jpg"
          alt=""
          class="w-full h-screen object-cover opacity-50"
          data-philter-duotone="#5d2f3f #FFFFFF"
          data-philter-blur="2"
        />
        <div class="text">
          <blockquote>
            Enim ut pariatur laboris adipisicing in non anim dolore laboris ex
            fugiat ea aliqua.
          </blockquote>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="relative bg-white">
        <img
          src="/images/vignes3.jpg"
          alt=""
          class="w-full h-screen object-cover"
          data-philter-duotone="#00705F #5d2f3f"
          data-philter-blur="2"
        />
        <div class="text white">
          <h2>Incididunt cillum proident officia tempor.</h2>
          <p>
            Aliqua esse laborum ea qui deserunt fugiat ad excepteur cupidatat
            sit ut. Anim cillum eu laborum occaecat nisi consequat amet anim
            nulla enim culpa elit. Ad adipisicing qui voluptate consectetur
            consectetur dolore sint in aliqua laborum et velit. Excepteur
            adipisicing excepteur velit voluptate officia minim id elit nisi sit
            quis amet. Ipsum deserunt ea consectetur eiusmod adipisicing sunt
            dolor ipsum id laborum ut.
          </p>
          <p>
            Ex veniam amet incididunt eu et magna irure ex. Velit Lorem
            reprehenderit ea proident sunt consequat excepteur aliqua ex nostrud
            qui quis fugiat qui. In amet sit laborum consectetur ex anim eu eu
            eiusmod enim in id duis cupidatat.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="relative bg-white">
        <img
          src="/images/vignes4.jpg"
          alt=""
          class="w-full h-screen object-cover"
          data-philter-duotone="#5d2f3f #331a22"
          data-philter-blur="2"
        />
        <div class="text white">
          <h2>Duis Lorem labore id dolor tempor ex aute.</h2>
          <p>
            Non esse et qui dolor occaecat Lorem laboris anim. Dolor commodo
            consectetur eu elit aliqua reprehenderit velit culpa anim eiusmod
            veniam. Reprehenderit et ea sunt ea cillum anim enim culpa ad fugiat
            qui.
          </p>
          <p>
            Do irure aliquip sunt non sint adipisicing. Tempor culpa aute
            proident consequat labore officia ut occaecat tempor tempor. Esse
            consectetur ad aliqua amet consequat dolor quis adipisicing. Anim
            eiusmod nulla commodo enim sit magna sint amet exercitation in.
            Cillum Lorem ut quis ex ullamco. Voluptate nulla qui nulla cupidatat
            elit dolor occaecat.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content">
      <div class="relative bg-white">
        <img
          src="/images/vignes5.jpg"
          alt=""
          class="w-full h-screen object-cover"
          data-philter-vintage="1"
          data-philter-blur="2"
        />
        <div class="text white">
          <h2>
            Laborum ea occaecat ea labore sit non proident deserunt nisi ex
            consectetur aliquip.
          </h2>
          <p>
            Non esse et qui dolor occaecat Lorem laboris anim. Dolor commodo
            consectetur eu elit aliqua reprehenderit velit culpa anim eiusmod
            veniam. Reprehenderit et ea sunt ea cillum anim enim culpa ad fugiat
            qui.
          </p>
          <p>
            Do irure aliquip sunt non sint adipisicing. Tempor culpa aute
            proident consequat labore officia ut occaecat tempor tempor. Esse
            consectetur ad aliqua amet consequat dolor quis adipisicing. Anim
            eiusmod nulla commodo enim sit magna sint amet exercitation in.
            Cillum Lorem ut quis ex ullamco. Voluptate nulla qui nulla cupidatat
            elit dolor occaecat.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<style>
  :root {
    timeline-scope: --section, --main, --site-header;
  }

  .scrollTelling {
    view-timeline: --main;
    scroll-snap-type: y mandatory;
  }

  .text:not(.white) {
    @apply h-full absolute top-16 mx-4 md:mx-16;
    animation: horizontal-scroll-text ease-in-out both;
    animation-timeline: --section;
  }

  .text:not(.white) h2 {
    font-family: "Boska";
    font-weight: 600;
    @apply pb-8 border-b-2 border-[#5d2f3f];
  }

  .text:not(.white) p {
    font-family: "Cabinet";
    font-weight: 500;
  }

  .text.white {
    @apply h-full absolute top-16 mx-4 md:mx-16 text-white;
    animation: horizontal-scroll-text ease-in-out both;
    animation-timeline: --section;
  }

  .text.white h2 {
    font-family: "Boska";
    font-weight: 600;
    @apply pb-8 border-b-2;
  }

  .text.white p {
    font-family: "Cabinet";
    font-weight: 500;
  }

  section {
    /* Creating a snapping rule on the section element */
    scroll-snap-align: start;
    scroll-snap-stop: always;

    /* Attach the timeline to the section element*/
    view-timeline: --section;

    /* Set each section to the full dynamic height of the viewport */
    height: 100dvh;
  }

  .content {
    /* Fix the content, so it doesn't scroll with the section */
    overflow: hidden;
    position: fixed;
    inset: 0;

    /* Animate the content based on the section scrolling */
    --contrast: 4;
    --blur: 0.5rem;

    animation: horizontal-scroll ease-in-out both;
    animation-timeline: --section;
  }

  section:last-child .content {
    animation: scale-and-move ease-in-out both;
    animation-timeline: --section;
  }

  @keyframes horizontal-scroll {
    0% {
      transform: translate3d(100%, 0%, 0);
    }

    50% {
      transform: none;
    }

    100% {
      transform: translate3d(-100%, 0%, 0);
    }
  }

  @keyframes horizontal-scroll-text {
    0% {
      transform: translate3d(100%, 0%, 0);
    }

    50% {
      transform: none;
      filter: blur(0);
    }

    100% {
      transform: translate3d(-100%, 0%, 0);
      filter: blur(1rem);
    }
  }

  @keyframes scale-and-move {
    0% {
      transform: translate3d(100%, 0%, 0);
    }

    50% {
      transform: none;
      scale: 1;
      opacity: 1;
    }

    100% {
      transform: translate3d(0, -200%, 0);
      scale: 0.35 0.5;
      opacity: 0;
    }
  }
</style>
