<div class="scrollTelling my-[25vh]">
  <section class="section">
    <div class="content">
      <div class="relative">
        <img
          src="/images/vignes1.jpg"
          alt=""
          class="w-full h-screen object-cover"
          data-philter-duotone="#00705F #FFFFFF"
        />
        <div class="text">
          <h2>Sunt sunt eu pariatur in do quis ad nostrud eiusmod.</h2>
          <p>
            Non esse et qui dolor occaecat Lorem laboris anim. Dolor commodo
            consectetur eu elit aliqua reprehenderit velit culpa anim eiusmod
            veniam. Reprehenderit et ea sunt ea cillum anim enim culpa ad fugiat
            qui.
          </p>
          <p>
            Do irure aliquip sunt non sint adipisicing. Tempor culpa aute
            proident consequat labore officia ut occaecat tempor tempor. Esse
            consectetur ad aliqua amet consequat dolor quis adipisicing.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content">
      <div class="relative">
        <img
          src="/images/vignes2.jpg"
          alt=""
          class="w-full h-screen object-cover"
          data-philter-duotone="#00705F #FFFFFF"
        />
        <div class="text">
          <h2>
            Enim ut pariatur laboris adipisicing in non anim dolore laboris ex
            fugiat ea aliqua.
          </h2>
          <p>
            Veniam commodo aliqua proident ullamco est pariatur. Cupidatat aute
            aliquip mollit ullamco occaecat laboris amet sint esse adipisicing
            et minim. Velit in excepteur non veniam aute adipisicing sint.
          </p>
          <p>
            Dolor esse ullamco et voluptate sunt amet non. Consequat eu sunt
            exercitation ad qui ullamco adipisicing eiusmod mollit. Fugiat
            mollit et sint dolore eu do. Et eu magna enim fugiat laborum aliqua
            ea occaecat nisi deserunt consequat.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content">
      <div class="relative">
        <img
          src="/images/vignes3.jpg"
          alt=""
          class="w-full h-screen object-cover"
          data-philter-duotone="#FFFFFF #00705F "
        />
        <div class="text">
          <h2>
            Incididunt cillum proident officia tempor non incididunt ullamco
            culpa.
          </h2>
          <p>
            Aliqua esse laborum ea qui deserunt fugiat ad excepteur cupidatat
            sit ut. Anim cillum eu laborum occaecat nisi consequat amet anim
            nulla enim culpa elit. Ad adipisicing qui voluptate consectetur
            consectetur dolore sint in aliqua laborum et velit. Excepteur
            adipisicing excepteur velit voluptate officia minim id elit nisi sit
            quis amet. Ipsum deserunt ea consectetur eiusmod adipisicing sunt
            dolor ipsum id laborum ut.
          </p>
          <p>
            Ex veniam amet incididunt eu et magna irure ex. Velit Lorem
            reprehenderit ea proident sunt consequat excepteur aliqua ex nostrud
            qui quis fugiat qui. In amet sit laborum consectetur ex anim eu eu
            eiusmod enim in id duis cupidatat.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content">
      <div class="relative">
        <img
          src="/images/vignes4.jpg"
          alt=""
          class="w-full h-screen object-cover"
          data-philter-duotone="#00705F #FFFFFF"
        />
        <div class="text">
          <h2>
            Duis Lorem labore id dolor tempor ex aute in nulla exercitation sit
            commodo elit dolore.
          </h2>
          <p>
            Non esse et qui dolor occaecat Lorem laboris anim. Dolor commodo
            consectetur eu elit aliqua reprehenderit velit culpa anim eiusmod
            veniam. Reprehenderit et ea sunt ea cillum anim enim culpa ad fugiat
            qui.
          </p>
          <p>
            Do irure aliquip sunt non sint adipisicing. Tempor culpa aute
            proident consequat labore officia ut occaecat tempor tempor. Esse
            consectetur ad aliqua amet consequat dolor quis adipisicing. Anim
            eiusmod nulla commodo enim sit magna sint amet exercitation in.
            Cillum Lorem ut quis ex ullamco. Voluptate nulla qui nulla cupidatat
            elit dolor occaecat.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="content">
      <div class="relative">
        <img
          src="/images/vignes5.jpg"
          alt=""
          class="w-full h-screen object-cover"
          data-philter-duotone="#FFFFFF #00705F "
        />
        <div class="text">
          <h2>
            Laborum ea occaecat ea labore sit non proident deserunt nisi ex
            consectetur aliquip.
          </h2>
          <p>
            Non esse et qui dolor occaecat Lorem laboris anim. Dolor commodo
            consectetur eu elit aliqua reprehenderit velit culpa anim eiusmod
            veniam. Reprehenderit et ea sunt ea cillum anim enim culpa ad fugiat
            qui.
          </p>
          <p>
            Do irure aliquip sunt non sint adipisicing. Tempor culpa aute
            proident consequat labore officia ut occaecat tempor tempor. Esse
            consectetur ad aliqua amet consequat dolor quis adipisicing. Anim
            eiusmod nulla commodo enim sit magna sint amet exercitation in.
            Cillum Lorem ut quis ex ullamco. Voluptate nulla qui nulla cupidatat
            elit dolor occaecat.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<style is:global>
  p + p {
    @apply mt-4;
  }
  h2 {
    @apply font-bold text-3xl md:text-5xl leading-tight w-full mb-16;
  }
  p {
    @apply text-rose-950 max-w-prose text-base md:text-xl;
    font-family: "Mattone";
    font-weight: 400;
  }
</style>

<style>
  :root {
    timeline-scope: --section, --main, --site-header;
  }

  .scrollTelling {
    view-timeline: --main;
    scroll-snap-type: y mandatory;
  }

  .text {
    @apply h-full lg:w-1/2 absolute top-16 mx-4 md:mx-16;
    animation: horizontal-scroll-text ease-in-out both;
    animation-timeline: --section;
  }

  .section {
    /* Creating a snapping rule on the section element */
    scroll-snap-align: start;
    scroll-snap-stop: always;

    /* Attach the timeline to the section element*/
    view-timeline: --section;

    /* Set each section to the full dynamic height of the viewport */
    height: 100dvh;
  }

  .content {
    /* Fix the content, so it doesn't scroll with the section */
    overflow: hidden;
    position: fixed;
    inset: 0;

    /* Animate the content based on the section scrolling */
    --contrast: 4;
    --blur: 0.5rem;

    animation: horizontal-scroll ease-in-out both;
    animation-timeline: --section;
  }

  section:last-child .content {
    animation: scale-and-move ease-in-out both;
    animation-timeline: --section;
  }

  @keyframes horizontal-scroll {
    0% {
      transform: translate3d(100%, 0%, 0);
    }

    50% {
      transform: none;
    }

    100% {
      transform: translate3d(-100%, 0%, 0);
    }
  }

  @keyframes horizontal-scroll-text {
    0% {
      transform: translate3d(100%, 0%, 0);
    }

    50% {
      transform: none;
      filter: blur(0);
    }

    100% {
      transform: translate3d(-100%, 0%, 0);
      filter: blur(1rem);
    }
  }

  @keyframes scale-and-move {
    0% {
      transform: translate3d(100%, 0%, 0);
    }

    50% {
      transform: none;
      scale: 1;
      opacity: 1;
    }

    100% {
      transform: translate3d(0, -200%, 0);
      scale: 0.35 0.5;
      opacity: 0;
    }
  }
</style>
